* {
    margin: 0;
    padding: 0;
}

.loadingX {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0 0;
}

.turn-container .turn-line {
    width: 50px;
    height: 10px;
    /* 绝对定位 */
    position: absolute;
    /* 结合自定义属性--d，计算top */
    top: calc(50px * var(--d));
    /* 执行动画：动画名 时长 线性 无限播放 */
    animation: roll 4s linear infinite;
    /* 结合自定义属性--d，计算动画延迟时间 */
    animation-delay: calc(0.3s * var(--d));
}


/* 两边两个圆的统一样式 */

.turn-container .turn-line::before,
.turn-container .turn-line::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
}


/* 左圆 */

.turn-container .turn-line::before {
    background-color: #e60116;
    position: absolute;
    left: 0;
}


/* 右圆 */

.turn-container .turn-line::after {
    background-color: #0588da;
    position: absolute;
    right: 0;
}


/* 中间的线 */

.turn-container .turn-line span {
    width: 40.5px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 10px;
    top: 3px;
}